.card {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  justify-content: space-evenly;
  /* margin: 10vh; */
  background-color: rgb(250, 250, 250, 0.65);
}

.deets {
  margin: 15px;
}

.img {
  margin: 15px;
  max-width: 300px;
  max-height: 300px;
}