.container {
  color: rgb(250, 250, 250, 0.95);
  margin: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
}

.container h4 {
  margin: 5vh 10vw;
}

.img {
  width: 20%;
}

.title {
  font-size: 65px;
}

.content {
  display: flex;
  flex-direction: row;
}

.images {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 750px) {
  .title {
    font-size: 45px;
  }
  .img {
    width: 33.333%
  }
}

@media only screen and (max-width: 500px) {
  .title {
    font-size: 35px;
  }
}