.container {
  color: rgb(250, 250, 250, 0.95);
  margin: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
}

.container h4 {
  margin: 5vh 10vw;
}

.img {
  width: 20%;
}

.title {
  font-size: 65px;
}

.content {
  display: flex;
  flex-direction: row;
}

.images {
  display: flex;
  flex-direction: row;
}