.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img {
  position: fixed;
  bottom: 0;
  max-width: 100vw;
  height: auto;
  max-height: 50vh;
  width: auto;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.title > h1 {
  color: rgb(250, 250, 250, 0.95);
  font-family: 'Poppins', sans-serif;
  font-size: 65px;
  margin: 30px 10px;
}

.title > img {
  width: 85px;
  margin-top: 25px;
}

.slogan {
  color: rgb(250, 250, 250, 0.95);
  margin: 0 10vw;
  text-align: center;
  font-size: 38px;
  font-family: 'League Script', cursive;
}

@media only screen and (max-width: 500px) {
  .title h1 {
    font-size: 45px;
  }
  .title img {
    width: 70px;
  }
}