.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formDiv  {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 70%;
  grid-gap: 24px;
  padding: 8px;
  font-family: 'Poppins', sans-serif;
  color: rgb(250, 250, 250, 0.95);
}

.title {
  font-family: 'Poppins', sans-serif;
  color: rgb(250, 250, 250, 0.95);
}

.submit {
  margin: 0;
  width: 35%;
}

.formDiv input {
  padding: 8px 16px;
  outline: 0;
  border: 1px solid hsla(254, 35%, 43%, 0.408);
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  background-color: rgb(182, 204, 227);
}

.formDiv label {
  font-weight: 600;
  font-size: 22px;
}

.personality {
  display: flex;
  flex-direction: column;
}