.dogList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.dogCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10vh;
}

.profile {
  display: flex;
  justify-content: end;
}

.buttons {
  text-align: center;
  justify-self: start;
}

.profile a {
  color: black;
  text-decoration: none;
}
.profile a:visited {
  color: black;
}