.content {
  font-family: 'Poppins', sans-serif;
  color: rgb(250, 250, 250, 0.95);
}

.content h4 {
  margin: 2rem 8rem 4rem 8rem;
  font-weight: 300;
  font-size: 22px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > h1 {
  margin: 50px 0 20px 0;
}

.header > img {
  width: 95px;
  margin-top: 35px;
  margin-left: 15px;
}

.resources {
  margin: 2rem 8rem 4rem 8rem;
}

.resources h3 {
  font-size: 32px;
  margin: 52px 0 0px 0;
}

.resources a {
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}

.resources a:before {
  content: "🔹 ";
  font-size: 16px;
}

.resources ul {
  margin: 0;
}

.resources li {
  list-style: none;
  padding: 0;
}

.resources h5 {
  margin: 0;
  margin-bottom: 10px;
}

.aLink a {
  color: rgb(0, 208, 255);
}

.aLink a:visited {
  color: rgb(0, 208, 255);
}

.bLink a {
  color: #fac233;
}

.bLink a:visited {
  color: #fac233;
}

@media only screen and (max-width: 800px) {
  .resources {
    margin: 2rem 2rem 4rem 2rem;
  }
  .content h4 {
    margin: 2rem 4rem 4rem 4rem;
    font-size: 18px;
  }
  .header > h1 {
    margin: 50px 0 20px 0;
    font-size: 45px;
  }
  
  .header > img {
    width: 95px;
    margin-top: 35px;
    margin-left: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .resources {
    margin: 2rem 1rem 4rem 1rem;
  }
  .content h4 {
    margin: 0 1rem 2rem 1rem;
    font-size: 18px;
  }
  .header > img {
    display: none;
  }
  .header > h1 {
    margin: 40px 0 20px 0;
    text-align: center;
    font-size: 32px;
  }
  .resources h3 {
    font-size: 28px;
  }
  .resources a {
    font-size: 22px;
  }
}