.nav {
  background-color: rgb(240, 240, 240);
  height: 80px;
  top: 0;
  margin-bottom: 0;
}

.components {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  margin-bottom: 0;
}

.components a {
  color: black;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
}
.components a:visited {
  color: black;
}

.components h2 {
  margin: 0;
  height: 33px;
  /* font-size: 32px; */
}

.homeIcon {
  height: 6vh;
  margin: 2vh 2.5vw 0 2.5vw;
}

.logoutIcon {
  height: 5vh;
  margin: 1.5vh 2.5vh;
}

.guestLinks {
  display: flex;
  align-items: center;
}

.guestLinks :nth-child(2) {
  margin-right: 8px;
}

.dogLinks {
  display: flex;
  align-items: center;
}

.dogLinks li {
  margin: 10px 15px;
}

.anotherLinkClass {
  display: flex;
  margin-right: 1rem;
}

.anotherLinkClass li {
  margin: 0 1rem;
}

.joinLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.joinLinks p {
  font-size: 16px;
  margin: 0;
}

.joinLinks img {
  height: 35px;
}

.infoIcon {
  height: 6vh;
}

.pawsIcon {
  height: 6vh;
}

.sitIcon {
  height: 6vh;
}

.menuBtn {
  font-size: 24px;
  padding: 0 12px 0;
  display: flex;
  justify-content: center;
  text-align: center;
}
.menuBtn p {
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: 750px) {
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .menu {
    z-index: 1;
    background-color: rgb(240, 240, 240);
    
  }
  .menu a {
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    
  }
  .menu a:visited {
    color: black;
  }

  .menu ul {
    background-color: rgb(240, 240, 240);
    list-style-type: none;
    padding-left: 16px;
    margin-top: 0;
    
  }
  .menu li {
    padding-bottom: 4px;
  }
}